USE [master]
GO
/****** Object:  Database [CHUNGKHOAN]    Script Date: 5/22/2021 12:39:01 PM ******/
CREATE DATABASE [CHUNGKHOAN]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CHUNGKHOAN', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER1\MSSQL\DATA\CHUNGKHOAN.mdf' , SIZE = 58368KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'CHUNGKHOAN_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SERVER1\MSSQL\DATA\CHUNGKHOAN_log.ldf' , SIZE = 1964480KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CHUNGKHOAN].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CHUNGKHOAN]
GO
/****** Object:  Table [dbo].[BANGGIATRUCTUYEN]    Script Date: 5/22/2021 12:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGGIATRUCTUYEN](
	[MACP] [nchar](7) NOT NULL,
	[GIAMUA3] [float] NULL,
	[KLMUA3] [int] NULL,
	[GIAMUA2] [float] NULL,
	[KLMUA2] [int] NULL,
	[GIAMUA1] [float] NULL,
	[KLMUA1] [int] NULL,
	[GIAKHOPLENH] [float] NULL,
	[KLKHOPLENH] [int] NULL,
	[GIABAN1] [float] NULL,
	[KLBAN1] [int] NULL,
	[GIABAN2] [float] NULL,
	[KLBAN2] [int] NULL,
	[GIABAN3] [float] NULL,
	[KLBAN3] [int] NULL,
 CONSTRAINT [PK_BANGGIATRUCTUYEN] PRIMARY KEY CLUSTERED 
(
	[MACP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHDAT]    Script Date: 5/22/2021 12:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHDAT](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[MACP] [nchar](7) NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[LOAIGD] [nchar](1) NOT NULL,
	[LOAILENH] [nchar](10) NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[GIADAT] [float] NOT NULL,
	[TRANGTHAILENH] [nvarchar](30) NULL,
 CONSTRAINT [PK_LENHDAT] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LENHKHOP]    Script Date: 5/22/2021 12:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LENHKHOP](
	[IDKHOP] [int] IDENTITY(1,1) NOT NULL,
	[NGAYKHOP] [datetime] NOT NULL,
	[SOLUONGKHOP] [int] NOT NULL,
	[GIAKHOP] [float] NOT NULL,
	[IDLENHDAT] [int] NOT NULL,
 CONSTRAINT [PK_LENHKHOP] PRIMARY KEY CLUSTERED 
(
	[IDKHOP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOPLENH], [KLKHOPLENH], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3]) VALUES (N'AAA    ', 0, 0, 10000, 2000, 11000, 1000, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOPLENH], [KLKHOPLENH], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3]) VALUES (N'BBB    ', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
INSERT [dbo].[BANGGIATRUCTUYEN] ([MACP], [GIAMUA3], [KLMUA3], [GIAMUA2], [KLMUA2], [GIAMUA1], [KLMUA1], [GIAKHOPLENH], [KLKHOPLENH], [GIABAN1], [KLBAN1], [GIABAN2], [KLBAN2], [GIABAN3], [KLBAN3]) VALUES (N'CCC    ', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0)
SET IDENTITY_INSERT [dbo].[LENHDAT] ON 

INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (25, N'AAA    ', CAST(N'2021-05-21 00:00:00.000' AS DateTime), N'M', N'LO        ', 1000, 10000, N'CHỜ KHỚP')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (26, N'AAA    ', CAST(N'2021-05-21 00:00:00.000' AS DateTime), N'M', N'LO        ', 1000, 10000, N'CHỜ KHỚP')
INSERT [dbo].[LENHDAT] ([ID], [MACP], [NGAYDAT], [LOAIGD], [LOAILENH], [SOLUONG], [GIADAT], [TRANGTHAILENH]) VALUES (27, N'AAA    ', CAST(N'2021-05-21 00:00:00.000' AS DateTime), N'M', N'LO        ', 1000, 11000, N'CHỜ KHỚP')
SET IDENTITY_INSERT [dbo].[LENHDAT] OFF
ALTER TABLE [dbo].[LENHKHOP]  WITH CHECK ADD  CONSTRAINT [FK_LENHKHOP_LENHDAT] FOREIGN KEY([IDLENHDAT])
REFERENCES [dbo].[LENHDAT] ([ID])
GO
ALTER TABLE [dbo].[LENHKHOP] CHECK CONSTRAINT [FK_LENHKHOP_LENHDAT]
GO
/****** Object:  StoredProcedure [dbo].[SP_GETROW]    Script Date: 5/22/2021 12:39:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[SP_GETROW]
AS
BEGIN
	
	SELECT * FROM BANGGIATRUCTUYEN
END
GO
USE [master]
GO
