USE [CHUNGKHOAN]
GO
/****** Object:  Trigger [dbo].[TR_After_LENHDAT]    Script Date: 5/22/2021 12:40:48 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
ALTER TRIGGER  [dbo].[TR_After_LENHDAT] 
   ON  [dbo].[LENHDAT] 
   AFTER INSERT, UPDATE, DELETE 
AS 
BEGIN
	DECLARE 
		@CrsrVar CURSOR,
		@MACP char(7),
		@GIAMUA1 FLOAT, 
		@KLMUA1 INT,
		@GIAMUA2 FLOAT, 
		@KLMUA2 INT,
		@GIAMUA3 FLOAT, 
		@KLMUA3 INT,
		@GIABAN1 FLOAT, 
		@KLBAN1 INT,
		@GIABAN2 FLOAT, 
		@KLBAN2 INT,
		@GIABAN3 FLOAT, 
		@KLBAN3 INT,
		@COUNT INT

	IF EXISTS ( SELECT * FROM    tempdb.sys.tables
                WHERE   name like '#MUA%' )
    DROP TABLE #MUA

	IF EXISTS ( SELECT * FROM    tempdb.sys.tables
                WHERE   name like '#BAN%' )
    DROP TABLE #BAN

	SELECT MACP, GIADAT, SUM(SOLUONG) AS KL,
	ROW_NUMBER() OVER (PARTITION BY MACP ORDER BY GIADAT DESC) AS rn into #MUA
	FROM [CHUNGKHOAN].[dbo].[LENHDAT]
	where loaigd ='M' and SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE )
	group by MACP, giadat

	
	SELECT MACP, GIADAT, SUM(SOLUONG) AS KL,
	ROW_NUMBER() OVER (PARTITION BY MACP ORDER BY GIADAT ASC) AS rn INTO #BAN
	FROM [CHUNGKHOAN].[dbo].[LENHDAT]
	where loaigd ='B' and SOLUONG > 0 AND CAST(NGAYDAT AS DATE) = CAST(GETDATE() AS DATE )
	group by MACP, giadat

	SET @CrsrVar = CURSOR FOR (SELECT DISTINCT MACP FROM LENHDAT) --DU LIEU TRO TOI
	OPEN @CrsrVar --MO CON TRO
	FETCH NEXT FROM @CrsrVar INTO @MACP --DOC DONG DAU TIEN
	WHILE(@@FETCH_STATUS <>-1)
	BEGIN
		SELECT @COUNT = COUNT(*) FROM BANGGIATRUCTUYEN WHERE MACP = @MACP
		IF @COUNT > 0 --NEU > 0 THÌ UPDATE
		BEGIN
			SET	@GIAMUA1 = 0
			SET	@KLMUA1 = 0
			SET	@GIAMUA2 = 0 
			SET	@KLMUA2 = 0
			SET	@GIAMUA3 = 0
			SET	@KLMUA3 = 0 
			SET	@GIABAN1 = 0 
			SET	@KLBAN1 = 0 
			SET	@GIABAN2 = 0 
			SET	@KLBAN2 = 0
			SET	@GIABAN3 = 0 
			SET	@KLBAN3 = 0

			--LAY GIA MUA CAO NHAT 
			SELECT @GIAMUA1 = GIADAT, @KLMUA1 = KL
			FROM #MUA
			WHERE rn = 1 AND MACP = @MACP

			--CAP NHAT GIA MUA1 VA KLDUMUA1
			UPDATE BANGGIATRUCTUYEN
	 			SET GIAMUA1= @GIAMUA1, 
					KLMUA1 = @KLMUA1
			WHERE MACP = @MACP 

			--LAY GIA MUA CAO THU 2
			SELECT @GIAMUA2 = GIADAT, @KLMUA2 = KL
			FROM #MUA
			WHERE rn = 2 AND MACP = @MACP


			UPDATE BANGGIATRUCTUYEN
	 			SET GIAMUA2= @GIAMUA2, 
					KLMUA2 = @KLMUA2
			WHERE MACP = @MACP

			--LAY GIA  MUA CAO THU 3
			SELECT @GIAMUA3 = GIADAT, @KLMUA3 = KL
			FROM #MUA
			WHERE rn = 3 AND MACP = @MACP

			UPDATE BANGGIATRUCTUYEN
	 			SET GIAMUA3= @GIAMUA3, 
					KLMUA3 = @KLMUA3
			WHERE MACP = @MACP

			--LAY GIA BAN THAP NHAT
			SELECT @GIABAN1 = GIADAT , @KLBAN1 = KL
			FROM #BAN
			WHERE rn = 1 and MACP = @MACP
			
			UPDATE BANGGIATRUCTUYEN
	 			SET GIABAN1= @GIABAN1, 
					KLBAN1 = @KLBAN1
			WHERE MACP = @MACP 

			--LAY GIA BAN THAP THU 2
			SELECT @GIABAN2 = GIADAT , @KLBAN2 = KL
			FROM #BAN
			WHERE rn = 2 and MACP = @MACP

			UPDATE BANGGIATRUCTUYEN
	 			SET GIABAN2= @GIABAN2, 
					KLBAN2 = @KLBAN2
			WHERE MACP = @MACP

			--LAY GIA BAN THAP THU 3
			SELECT @GIABAN3 = GIADAT , @KLBAN3 = KL
			FROM #BAN 
			WHERE rn = 3 and MACP = @MACP

			UPDATE BANGGIATRUCTUYEN
	 			SET GIABAN3= @GIABAN3, 
					KLBAN3 = @KLBAN3
			WHERE MACP = @MACP
			FETCH NEXT FROM @CrsrVar INTO @MACP -- DOC DONG TIEP THEO
		END
	ELSE --NGUOC LAI THI INSERT 
	BEGIN
			SET	@GIAMUA1 = 0
			SET	@KLMUA1 = 0
			SET	@GIAMUA2 = 0 
			SET	@KLMUA2 = 0
			SET	@GIAMUA3 = 0
			SET	@KLMUA3 = 0 
			SET	@GIABAN1 = 0 
			SET	@KLBAN1 = 0 
			SET	@GIABAN2 = 0 
			SET	@KLBAN2 = 0
			SET	@GIABAN3 = 0 
			SET	@KLBAN3 = 0
			--LAY GIA MUA CAO NHAT
			SELECT @GIAMUA1 = GIADAT, @KLMUA1 = KL
			FROM #MUA
			WHERE rn = 1 AND MACP = @MACP

			
			--LAY GIA MUA CAO THU 2
			SELECT @GIAMUA2 = GIADAT, @KLMUA2 = KL
			FROM #MUA			WHERE rn = 2 AND MACP = @MACP

			--LAY GIA MUA CAO THU 3
			SELECT @GIAMUA3 = GIADAT, @KLMUA3 = KL
			FROM #MUA
			WHERE rn = 3 AND MACP = @MACP

			--LAY GIA BAN THAP NHAT
			SELECT @GIABAN1 = GIADAT , @KLBAN1 = KL
			FROM #BAN
			WHERE rn = 1 and MACP = @MACP

			--LAY GIA BAN THAP THU 2
			SELECT @GIABAN2 = GIADAT , @KLBAN2 = KL
			FROM #BAN
			WHERE rn = 2 and MACP = @MACP

			--LAY GIABAN THAP THU 3
			SELECT @GIABAN3 = GIADAT , @KLBAN3 = KL
			FROM #BAN 
			WHERE rn = 3 and MACP = @MACP

			INSERT INTO BANGGIATRUCTUYEN (MACP, GIAMUA1, KLMUA1, GIAMUA2, KLMUA2, GIAMUA3, KLMUA3, GIAKHOPLENH, KLKHOPLENH, GIABAN1, KLBAN1, GIABAN2, KLBAN2, GIABAN3, KLBAN3) VALUES (@MACP, @GIAMUA1, @KLMUA1, @GIAMUA2, @KLMUA2,@GIAMUA3, @KLMUA3, 0, 0, @GIABAN1, @KLBAN1, @GIABAN2, @KLBAN2, @GIABAN3, @KLBAN3)
			FETCH NEXT FROM @CrsrVar INTO @MACP -- DOC DONG TIEP THEO
		END
		end
END
CLOSE @CrsrVar --DONG CURSOR
DEALLOCATE @CrsrVar --GIAI PHONG TAI NGUYEN
